body {
  margin: 0;
  padding: 0;
  /* background: #9faf86; */
  /* background: #dfe9e6; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-container {
  /* background: #eee; */
  margin: 0 auto;
  /* width: 800px; */
  /* height: 600px; */
  /* border: 1px solid black; */
}

#topbar-container {
  background: #e6dede;
  height: 250px;
}

#topbar {
  padding-top: 20px;
  padding-left: 60px;
}

#bridge-img {
  height: 170px;
  width: 200px;
}

#sub-menu {
  /* background: #c7b7b7; */
  background: #3d3737;
}

#main-content {
  /* margin: 0 auto; */
  padding: 20px;
  border: 1px solid black;
  background: #eee;
}

#main-content-group {
  margin: 0 auto;
  max-width: 800px;
}

#login-container {
  margin: 40px auto 0;
  width: 60%;
}

#login-message {
  /* margin: 0 auto; */
  /* width: 80%; */
  /* text-align: center; */
}

#signup-container {
  margin: 40px auto 0;
  width: 60%;
}
